@model IEnumerable<QueTengoEnMiNevera.Models.Receta>

@{
    ViewData["Title"] = "Buscar";
}

<h2>Resultados de la búsqueda</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row" id="rowbuscar">

    @foreach (var item in Model)
    {
        <div class="col-md-4" id="recetaBuscar">
            <div class="content">
                <img src="~/images/Fotos recetas/@Html.DisplayFor(modelItem => item.Foto)" width="250" height="250" style="width:100%" class="imagenBuscar img-responsive"
                     onclick="location.href='Details/@item.Id'" />

                <h3>@Html.DisplayFor(modelItem => item.Nombre)</h3>

                <span class="glyphicon glyphicon-cutlery" > @Html.DisplayFor(modelItem => item.Calorias)Calorías </span>
                <span class="glyphicon glyphicon-time" > @Html.DisplayFor(modelItem => item.Tiempo)minutos</span>
                <span class="glyphicon glyphicon-globe" > @Html.DisplayFor(modelItem => item.Tipo)</span>

                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                @*<a asp-action="Details" asp-route-id="@item.Id">Ver Receta</a>*@ 
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>|*@
            </div>
        </div>
    }

</div>



