@model QueTengoEnMiNevera.Models.Receta

@{
    ViewData["Title"] = "Details";
}
<div>
    <h3><strong>@Html.DisplayFor(model => model.Nombre)</strong></h3>
    <hr />

    <div class="row">
        <div class="col-md-6" id="fotodetalles">
            <div>
                <img src="~/images/Fotos recetas/@Html.DisplayFor(model => model.Foto)" position="center" style="width:100%"class="img-responsive"/>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-cutlery"><strong>@Html.DisplayFor(model => model.Calorias) Calorías</strong></span>
                </div>
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-time"><strong>@Html.DisplayFor(model => model.Tiempo) Minutos</strong></span>
                </div>
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-globe"><strong>Tipo @Html.DisplayFor(model => model.Tipo)</strong></span>
                </div>
            </div>
        </div>
        <div id="textoDetalles" class="row col-md-6">
            <div class="col-md-4">
                <h4><strong>Ingredientes</strong></h4>
                <div>
                    @Html.DisplayFor(model => model.IngredientePrincipal)
                </div>
                <div>
                    @Html.DisplayFor(model => model.IngredientesSecundarios)
                </div>
                <div>
                    @Html.DisplayFor(model => model.IngredientesTerciarios)
                </div>
            </div>
            <div class="col-md-8">
                <h4><strong>Preparación</strong></h4>
                <div>
                    @Html.DisplayFor(model => model.Explicacion)
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Lista</a>
</div>
