@model IEnumerable<QueTengoEnMiNevera.Models.Receta>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calorias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tiempo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IngredientePrincipal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IngredientesSecundarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IngredientesTerciarios)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/images/Fotos recetas/@Html.DisplayFor(modelItem => item.Foto)" width="50" height="50"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calorias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tiempo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientePrincipal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientesSecundarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientesTerciarios)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
